.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 20px;
  background-color: #fff;
  position: relative;
  height: 60px;
}

.logo img {
  width: 100px;
}

.header-icons {
  display: flex;
  align-items: center;
}

.header-icons .icon {
  font-size: 18px;
  color: #868686;
  margin-right: 12px;
  cursor: pointer;
}

.header-icons .icon:hover {
  color: #333;
}

.language-select {
  font-size: 16px;
  margin-left: 20px;
  position: relative;
  cursor: pointer;
  display: flex;
  align-items: center;
}

.dropdown-arrow {
  margin-left: 8px;
}

.language-dropdown {
  position: absolute;
  top: 30px;
  right: 0;
  background-color: #fff;
  border: 1px solid #ddd;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  list-style: none;
  padding: 10px;
  margin: 0;
  z-index: 1000;
}

.language-dropdown li {
  padding: 5px 10px;
  cursor: pointer;
}

.language-dropdown li:hover {
  background-color: #f0f0f0;
}
