.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 20px;
  background-color: white;
  border-bottom: 1px solid #ddd;
  position: relative;
}

.logo img {
  width: 60px;
}

.header-icons {
  display: flex;
  align-items: center;
}

.header-icons .icon {
  font-size: 18px;
  margin-right: 20px;
  cursor: pointer;
  color: #555;  /* Lighter icons */
}

.language-select {
  font-size: 14px;
  cursor: pointer;
}

.dropdown-arrow {
  margin-left: 5px;
}

.hamburger {
  display: none;
}

.hamburger-lines {
  width: 25px;
  height: 2px;
  background-color: #555;
  margin: 5px 0;
}

/* Responsive Styles */
@media (max-width: 768px) {
  .header-icons {
    display: none;
  }

  .hamburger {
    display: block;
    cursor: pointer;
  }

  .hamburger .icon {
    font-size: 24px;
  }
}
